.DS_Store
/fkweb/node_modules
/fkweb/.pnp
.pnp.js
/fkapi/database/migrations
.idea/

# testing
/fkweb/coverage


# production
/fkweb/build

#misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

