body{
	
}

#fk-hero{
    min-height: 450px;
    background: url(./../img/banner.jpg);
    background-position: 50% 50%;
    opacity: .95;
    margin-bottom: 200px;
}

.search-wrap{
    margin-top: 180px;
    padding: 20px;
    background: rgb(255, 0, 132);
}

.form-inline label{
    margin-right: 10px;
}